*.vscode
*.vs
**/Debug/
**/Release/
build/
*.out
x64/
*.sln
*.vcxproj
*.vcxproj.user
*.filters
semester4/parallel-programming/oldLab.cu

semester4/AandDS/UnitTest*
semester4/AandDS/GraphTest
semester4/AandDS/RGZ/Task1*.h
semester4/AandDS/RGZ/Task2*.h
/semester6/client-server/lab/nbproject/private/
