*.vscode
*.vs
**/Debug/
**/Release/
build/
*.out
x64/
*.vcxproj.user
semester4/parallel-programming/oldLab.cu

semester4/AandDS/UnitTest*
semester4/AandDS/GraphTest
/semester6/client-server/lab/nbproject/private/
/semester6/client-server/lab4/target/
/semester6/client-server/test/target/
/semester6/client-server/lab4/client/target/
/semester6/client-server/lab4/server/target/
