@page
@{
    Layout = "_Layout2";
}

<div class="text-center" style="margin-top: 50px; margin-bottom: 350px;">
    <h2>Статьи, использованные в нашей научной работе</h2>

    <p><a href="https://www.cats.com/link1" target="_blank">Мур-война: как коты готовились к захвату мира и что мы должны делать</a></p>
    <p><a href="https://www.cats.com/link2" target="_blank">Искусство дрессировки котов: уроки от самых непокорных мурлык</a></p>
    <p><a href="https://www.cats.com/link3" target="_blank">Загадочные исчезновения ваших носков: коты виноваты?</a></p>
    <p><a href="https://www.breakingnews.com/link3" target="_blank">Юлия Якубеня уронила отварную сосиску</a></p>
    <p><a href="https://www.funnyarticles.com/guide" target="_blank">Как стать экспертом по выдумыванию смешных названий для статей</a></p>
</div>