@page

<div class="text-center">
    <h1>Добро пожаловать на наш сайтик!</h1>
    <div style="margin-top: 40px; margin-left: 300px; margin-right: 300px; text-align:left;">

    <h2>Лабораторная работа по ПОИС</h2>
    <h3>Вариант 5: Создание страницы со ссылками на статьи</h3>

    <p>Это наша великолепная лабораторная работа, выполненная с участием наших талантливых и преданных разработчиков:</p>
    
    <ul>
        <li>Макс - мастер кода и архитектуры. 😎</li>
        <li>Мирон - гуру клиентской и серверной разработки. 💻</li>
        <li>Саша -  виртуоз веб-дизайна и стилей. 🎨</li>
        <li>Валя - волшебница баз данных и бэкенда. 🪄</li>
    </ul>

    </div>
</div>
