@page

<div class="text-center">
    <div style="margin-top: 40px; margin-left: 300px; margin-right: 300px; text-align:left;">
        <h2>Сборник лучших анекдотов по мнению наших экспертов</h2>

        <p>1. Почему программист всегда голоден? Потому что он все время в поиске печенья (cookie).</p>

        <p>2. Штирлиц залез на телеграфный столб и, чтобы не привлекать внимания прохожих, развернул газету.</p>

        <pre>3. Заходит грустный еврейский мальчик на кухню.
    -мам, купи собачку...
    -нет
    -мам, мам, ну купи собачку...
    -нет, Фима
    -мам, ну пожалуйста, ну купи собачку....
    -Фима, иди продавай свою собачку во двор!
        </pre>
<div>