body {
    font-family: Impact, sans-serif;
    color: #332f2d;
    background-color: #ffe4c4;
}

h1 {
    font-size: 24px;
}

ul {
    list-style-position: outside;
    display: inline-block;
    padding-left: 0; 
    text-align: left;
}

a {
    color: #0075B2; 
    text-decoration: none; 
}
   
a:hover {
    color: #CE242B; 
    text-decoration: underline; 
}

.center {
    text-align: center;
}

table, th, td {
    border: 1px solid;
}

button {
    background-color:#ffdeb6;
    border-radius:12px;
    border:1px solid #bda840;
    display:inline-block;
    cursor:pointer;
    color:#7e5703;
    font-family:Arial;
    font-size:17px;
    text-decoration:none;
    transition: background-color .5s;
}
button:hover {
    background-color:#ffedd6;
}

input[type="text"],[type="email"], textarea {

    background-color : #fff6e9; 
  
 }

img#cat_gif {   
    position: fixed;
    right: 0; bottom: 0;
    margin-bottom: -2px;
    width: 13%;
}